/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; 
}

input[type="text"],
textarea {
    width: calc(100% - 20px); 
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 8px 20px;
    background-color:  rgba(187, 124, 87, 0.651);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:  rgba(187, 124, 87, 0.651);
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    width: 80%;
    margin: 0 auto;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333; /* Change color to fit your design */
    text-decoration: none;
}

.logo span {
    color: #555; /* Change color to fit your design */
    font-weight: 400;
}

.login,.home-button,
.post_button {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background:rgba(187, 124, 87, 0.651); 
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.login:hover,
.home-button:hover,
.post_button:hover {
    background:  rgba(187, 124, 87, 0.651); 
    transition: 0.5s;
    color: black;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.blog-posts .post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    transition: all 0.3s ease;
}

.blog-posts .post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.blog-posts .post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog-posts .post p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.blog-posts .post img {
    width: 100%;
    border-radius: 5px;
}